services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
  
  backend:
    build: ./test-flask-app
    container_name: flask_app
    restart: always
    ports:
      - "5000:5000"
    environment:
      - DB_USER=${MYSQL_USER}
      - DB_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - DB_HOST=${MYSQL_HOST}
      - DB_NAME=${MYSQL_DATABASE}
    depends_on: 
      - db
  
  frontend:
    build: ./test-react-app
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  db_data: